In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [8]:
from sklearn.ensemble import RandomForestRegressor

In [9]:
from sklearn.model_selection import GridSearchCV
#from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]} 



grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(indep, dep)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [10]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'log2', 'n_estimators': 100}:

In [11]:
table=pd.DataFrame.from_dict(re)

In [12]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.065316,0.014525,0.011328,3.700592e-03,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.827396,0.754686,0.843727,0.807371,0.826108,0.811858,0.030818,10
1,0.585149,0.074549,0.040954,2.608199e-02,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.845257,0.774517,0.857270,0.815782,0.837622,0.826089,0.029116,5
2,0.046876,0.013974,0.015631,4.672031e-07,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.835145,0.753310,0.841390,0.816568,0.809943,0.811271,0.031197,11
3,0.495021,0.052484,0.037503,1.250026e-02,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.856040,0.781159,0.866301,0.829995,0.837704,0.834240,0.029498,2
4,0.043751,0.006251,0.000000,0.000000e+00,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.854255,0.765610,0.836433,0.816872,0.817753,0.818185,0.029665,8
5,0.521227,0.101110,0.014610,5.351361e-03,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.864590,0.782170,0.859248,0.827421,0.841250,0.834936,0.029499,1
6,0.377913,0.066093,0.004932,8.436340e-03,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.826236,0.741960,0.852564,0.823822,0.832946,0.815506,0.038133,9
7,3.867448,0.081106,0.031083,7.320931e-04,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.837360,0.771211,0.847774,0.820234,0.833883,0.822093,0.026922,6
8,0.122791,0.016273,0.004452,6.155637e-03,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.850720,0.761949,0.858535,0.803830,0.831318,0.821270,0.035157,7
9,2.191079,0.327024,0.048873,2.132618e-02,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.856466,0.778509,0.858035,0.826697,0.841184,0.832178,0.029155,4
10,0.108379,0.009804,0.001275,2.549171e-03,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.850747,0.754820,0.809057,0.805098,0.831663,0.810277,0.032246,12
11,2.590360,0.180688,0.038231,1.154501e-02,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.858739,0.777924,0.854174,0.828447,0.842716,0.832400,0.029181,3

In [13]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:30
BMI:23
Children:3
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [14]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[18172.5606495]

In [15]:
#To Save the model using pickle library

import pickle
filename="finallized_model_RF_WithoutTrainingandTesting.sav"

In [16]:
pickle.dump(grid,open(filename,'wb'))

In [17]:
#To test the model
loaded_model=pickle.load(open("finallized_model_RF_WithoutTrainingandTesting.sav",'rb'))
result=loaded_model.predict([[30,23,3,1,0]])

In [18]:
result

array([5483.1820142])